ALL_ASSETS_HOURLY.csv
ALL_ASSETS_MINUTES.csv
BTC_USDT_1d_since_2020.csv
BTC_USDT_1h_since_2020 (ORDERFLOW DATA).csv
BTC_USDT_1h_since_2020.csv
BTC_USDT_1min_since_2020.csv
news.csv
results_df_IN_SAMPLE.csv
CRYPTO-HOURS/
CRYPTO-MINUTES/
STOCKS-HOURS/
STOCKS-MINUTES/
INDEX-HOURS/
INDEX-MINUTES/
METALS-HOURS/
METALS-MINUTES/

*.parquet
*.pkl